* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  --primary_color: #222831;
  --secondary_color: #393e46;
  --terciary_color: #e21d0e;
  --terciary_color_alt: #8c0000;
  --text_color: #EEE;
  scroll-behavior: smooth;
  font-family: 'helvetica', cursive;
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: var(--primary_color);
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

li {
  float: right;
  text-decoration: none;
}

li a {
  display: block;
  color: var(--text_color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Bebas Neue';
  font-size: 1.5rem;
}

li a:hover {
  text-decoration: none;
  background-color: var(--text_color);
  color: var(--primary_color);
}

hr{
  border: 0;
	border-top: 2px solid var(--terciary_color);
}

.perfil-info{
  width: 80%;
}

.hr-card{
  border: 0;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.hrtitle{
  border-top: 4px solid var(--terciary_color);
  margin-top: -0.5rem;
  margin-bottom: 0.2rem;
}

.name{
  height: 100vh;
  line-height: 100vh;
  padding-top: 40vh;
  align-items: center;
}

.name_my{
  font-family: 'Bebas Neue';
  font-size: 5vw;
  text-align: justify;
  line-height: 80%;
}

.subtitle{
    text-align: right;
    font-size: 1.5rem;
  }

.titles{
  text-align: justify;
  padding: 2% 5%;
}

a{
  text-decoration: none;
  color: var(--text_color);
}

a:hover{
  color: var(--terciary_color)
}

.parallax {
  background-image: url("./Images/Bg.jpeg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.apresentation {
  width: 100%;
  background-color: var(--primary_color);
  border: hidden;
  box-shadow: 0 0 0.5em black;
}

.align{
  padding-left: 40%;
  text-align: justify;
}

.information{
  text-align: left;
  padding-left: 5%;
  font-size: 20px;
}

.about{
  margin-top: 0;
  text-align: justify;
  padding-right: 7%;
}

.about-text{
  color: var(--text_color);
  text-align:left;
  text-indent: 2.5em;
  margin: 0%;
  padding-top: 0%;
  line-height: 145%;
}

.fa-lg{
  position: relative;
  top: 6px;
  left: 10px;
}

.card{
  background-color: var(--secondary_color);
  border-style: hidden;
  min-height: 570px;
}

.card-title{
  font-size: 1.7em;
  color: var(--text_color);
  font-family: 'Bebas Neue';
}

.card-text{
  color: var(--text_color);
  text-align: justify;
  text-indent: 2.5em;
}

.btn{
  border-style: hidden;
  background-color: var(--terciary_color_alt);
  color: var(--text_color);
}

a.btn:hover{
  background-color: #680202;
  color: var(--text_color);
}

.sections{
  font-family: 'Bebas Neue';
}

.icon-card{
  margin-bottom: 3%;
  margin-left: 0;
  padding-right: 5%;
}

.perfil {
  display: block;
  padding: 0 10%;
  width: 90%;
  border-radius: 25%;
  border-top-left-radius: 0;
}

.Profile-name{
  text-align: left;
  padding-left: 10%;
}

/*Phone*/
@media only screen and (max-width:320px){
  body, nav, ul{
    width: 320px;
    margin-right: 0%;
    padding-left: 0%;
  }
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto{
    padding-left: 0;
    padding-right: 0;
  }
  .name_my{
    font-size: 12vw;
  }
  .subtitle{
    font-size: 0.7rem;
  }
  .parallax{
    height: 95vh;
  }
  li a{
    font-size: 1.299rem;
    padding: 20px 6px;
  }
  .sections{
    font-size: 1.8rem;
  }
  .fa-2x{
    font-size: 1.8rem;
  }
  .name-contacts{
    visibility: hidden;
  }
  .titles{
    padding-top: 15%;
  }
  .perfil{
    width: 100%;
  }
  .perfil-info{
    width: 100%;
  }
  .Profile-name{
    padding-left: 13%;
  }
}

/*Tablet*/
@media only screen and (min-width:321px) and (max-width:768px){
  .name_my{
    font-size: 2.7rem;
  }
  .subtitle{
    font-size: 0.85rem;
  }
  .parallax{
    height: 95vh;
  }
  li a{
    font-size: 0.9rem;
  }
  .sections{
    font-size: 2rem;
  }
  .fa-2x{
    font-size: 2.5rem;
  }
  .name-contacts{
    visibility: hidden;
  }
  nav{
    text-align: center;
  }
  .about-text{
    font-size: 5vw;
  }
  .perfil{
    width: 100%;
  }
  .perfil-info{
    width: 100%;
  }
}

/*Desktop*/
@media only screen and (min-width:769px){
  .name{
    padding-top: 25%;
  }
  .perfil{
    justify-items: center;
  }
  .fa-2x{
    font-size: 2.8rem;
  }
}

.page {
  height: auto;
  text-align: center;
  background-color: var(--secondary_color);
  color: var(--text_color);
}

.contacts{
  text-align: center;
}

footer {
  background-color: var(--primary_color);
  height: auto;
  margin-bottom: 0px;
}

/*-------------------------------------------------------*/

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--terciary_color); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-track{
  background-color: var(--secondary_color);
}