@import "../_variables"
@import "../_mixins"

header
  background: $primary-color
  padding: 0
  height: 80px
  /*@include tablets-and-down
    border-bottom: 2px solid $terciary-color
    padding: 20px 10%*/
  /*@include mobile-and-down
    padding: 20px 20px*/

.menu 
  display: flex
  overflow: hidden
  justify-content: flex-end
  align-items: center
  font-weight: bold
  @include tablets-and-down
    display: none

  &__logo 
    font-size: 20px
    margin-right: auto
    font-weight: bold
    color: $text-color
    text-decoration: none

    &--icon
      width: 70px

    &:hover
      text-decoration: none
      color: $terciary-color

  ul
    margin: 0
  
  li
    background-color: $primary-color
    a
      font-family: 'Bebas Neue'
      font-weight: normal
      font-size: 25px
      color: $text-color

    &:hover
      background-color: $text-color
      a
        color: $secondary-color

  &__item 
    display: inline-block
    padding: 25px 0px
    font-size: 1.3vw
    
    a
      padding: 25px 15px
      text-decoration: none

.menu-mobile 
  display: none
  height: 260px
  @include display-col
  text-align: center

  & ul
    margin-top: 40px

    & li, a
      font-family: 'Bebas Neue'
      color: $text-color
      font-size: 18px
      font-weight: normal
      margin: 30px 0
      list-style-type: none

  &__icon 
    font-size: 30px
    display: flex
    justify-content: space-between
    align-items: center
    @include desktop-and-up
      display: none

    & i
      color: $text-color

.menu-simples-mobile
  z-index: 99
  width: 100%
  height: 10vw
  display: flex
  position: fixed
  background-color: $primary-color
  border-bottom: 2px $terciary-color solid
  @include mobile-and-down
    height: 10vh
  i
    position: absolute
    font-size: 5vw
    top: 25%
    left: 5%
    @include mobile-and-down
      font-size: 5vh
  img 
    position: absolute
    top: 5%
    left: 45%
    width: 8vw
    height: 8vw
    @include mobile-and-down
      left: 40%
      width: 8vh
      height: 8vh